<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="config/bootstrap.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="SYMFONY_PHPUNIT_REMOVE" value="" />
        <server name="SYMFONY_PHPUNIT_VERSION" value="7.5" />
        <env name="DATABASE_URL" value="mysql://root:root@fastrackOctobreBack_sql:3306/fastrackOctobreBack_test" />
        <env name="JWT_PASSPHRASE" value="skillfactory" />
        <env name="JWT_SECRET_KEY" value="tests/config/jwt/private.pem" />
        <env name="JWT_PUBLIC_KEY" value="tests/config/jwt/public.pem" />
    </php>

    <testsuites>
        <testsuite name="Small">
            <directory>tests/Small</directory>
        </testsuite>
        <testsuite name="Medium">
            <directory>tests/Medium</directory>
        </testsuite>
        <testsuite name="Large">
            <directory>tests/Large</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
